.bug-filter-and-sort * {
    margin: 0;
    padding: 0;
}

.bug-filter-and-sort {
    display: grid;
    gap: 10px;
    padding: 1em;
    background-color: var(--clr2bg);
}

.bug-filter-and-sort .filter-section {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0.5em;
}

.bug-filter-and-sort ul {
    display: flex;
    gap: 15px;
}

.bug-filter-and-sort ul label {
    display: flex;
    gap: 5px;
}

.bug-filter-and-sort form {
    display: grid;
    grid-template-columns: 100px 200px;
}

.bug-filter-and-sort .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0.5em 1em;
    border: 1px solid gray;
}

.bug-filter-and-sort .btn-square {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    min-height: 20px;
    border: 1px solid gray;
}
